//= require_self
//= require_tree .

/** Thanks to http://www.subtlepatterns.com for the wealth of patterns!
  *
  */

/* Import all of bootstrap's elements (bootstrap-sass) */
@import 'bootstrap';

/* Import Montserrat, Quattrocento Sans (400, 700) and Varela Round fonts from Google WebFonts API */
@import url(http://fonts.googleapis.com/css?family=Montserrat|Quattrocento+Sans:400,700|Varela+Round);

/* Custom mixins */
/*****************/

@mixin border-radius($rad) {
  -moz-border-radius:     $rad; /* Firefox 4 */
  -ms-border-radius:      $rad; /* Firefox 4 */
  -o-border-radius:       $rad; /* Opera */
  -webkit-border-radius:  $rad; /* Safari and Chrome */
  border-radius:          $rad;
}

@mixin box-shadow($top,   $left, $blur, $color, $inset:"") {
  -moz-box-shadow:        $top $left $blur $color #{$inset}; /* Firefox 4 */
  -ms-box-shadow:         $top $left $blur $color #{$inset}; /* Firefox 4 */
  -o-box-shadow:          $top $left $blur $color #{$inset}; /* Opera */
  -webkit-box-shadow:     $top $left $blur $color #{$inset}; /* Safari and Chrome */
  box-shadow:             $top $left $blur $color #{$inset};
}

@mixin transition($attr, $time) {
  -moz-transition:        $attr $time; /* Firefox 4 */
  -ms-transition:         $attr $time; /* Firefox 4 */
  -o-transition:          $attr $time; /* Opera */
  -webkit-transition:     $attr $time; /* Safari and Chrome */
  transition:             $attr $time;
}


/* General Layout */
/*******************/


/* Widely used classes */

.center {
  text-align: center;
}


/* Layout elements */

html {
  overflow-y: scroll;

  /* Force crisp edges rendering */
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -ms-crisp-edges;           /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Safari and Chrome */
  image-rendering: crisp-edges;
}

body {
  padding-top: 60px;
  font-size: 12pt;
  background-image: image-url('squairy_light.png');
}

header {
  @include box-shadow(0, 1px, 5px, rgba(10, 10, 10, 0.5));
}

section {
  overflow: auto;
}


/* Text elements */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

textarea {
  resize: vertical;
}

/* End General layout */
/**********************/


/* Specific use elements/IDs/classes */

#nameplate {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #f0f0f0;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  @include transition(color, 0.5s);
}

#nameplate:hover {
  color: #F3992A;
  text-decoration: none;

  @include transition(color, 0.5s);
}
