<!DOCTYPE html>
<html>
  <head>
    <title>Stockcap</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- HTML5 compatibility -->
    <%= render 'layouts/html5shim' %>

  </head>
  <body>

    <%= render 'layouts/main_header' %>

    <div class='container'>
      <h1>Hello, world!</h1>
    </div>


  </body>
</html>
